* {
    margin: 0;
    padding: 0;
}

.heading {
    cursor: default;
    display: block;
    width: 12rem;
    height: 4rem;
    font-family: "Arial";
    font-size: 1.5rem;
    line-height: 4rem;
    color: white;
    text-align: center;
}

.calcTable {
    border-collapse: collapse;
    border-radius: 12px;
    margin: 2rem auto 0;
    background: rgba(153,88,255,1);
    background: -webkit-linear-gradient(rgba(153,88,255,1),rgba(27,82,255,1));
    background: -moz-linear-gradient(rgba(153,88,255,1),rgba(27,82,255,1));
    background: -o-linear-gradient(rgba(153,88,255,1),rgba(27,82,255,1));
    background: linear-gradient(rgba(153,88,255,1),rgba(27,82,255,1));
}

.btn {
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    color: white;
    font-family: "Arial";
    background-color: rgba(255,255,255,0);
    font-size: 2rem;
    border: none;
}

@media (hover: hover) and (pointer: fine) {
    .btn:hover {
    background-color: rgba(255,255,255,0.6);
    }
}

.btn:focus {
    outline: none;
}

.btnWhite {
    background-color: rgba(255,255,255,0.4);
}

.btnClear:focus {
    background-color: rgba(255,255,255,0.6);
}

.btnEquals:focus {
    background-color: rgba(255,255,255,0.6);
}

.btnDiv:focus {
    background-color: rgba(255,255,255,0.6);
}

.resultBox {
    cursor: default;
    height: 3rem;
    width: 15.5rem;
    background-color: rgba(255,255,255,0);
    font-size: 1.5rem;
    color: white;
    font-family: "Arial";
    text-align: right;
    padding-right: 0.5rem;
    border: none;
    border-top: solid 1px rgba(255,255,255,0.4);
    border-bottom: solid 1px rgba(255,255,255,0.4);
}

.resultBox:focus {
    outline: none;
}